In [1]:
print("Hello world")

Hello world

# Write a Python script to concatenate following dictionaries to create a new one. Go to the editor

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [19]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60} 

N = max(len(dic1),len(dic2),len(dic3))
dic = {}

for i in (dic1,dic2,dic3):
    dic.update(i)
   

print(dic)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [23]:
d = {}
d.update({1:12})
d

{1: 12}

# Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are square of keys. Go to the editor
Sample Dictionary
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [40]:
dict1 = {}


for i in range(1,16):
    dict1[i] = i**2
dict1

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225}

# sum all the values in a dict

In [41]:
sumint = 0
for i in dict1:
    sumint += dict1[i]
print(sumint)

1240

In [42]:
try:
    for i in dict1:
        if i == 4:
            del dict1[i]
except RuntimeError:
    pass
print(dict1)

{1: 1, 2: 4, 3: 9, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

# maximum and minimum value in there dictionary

In [44]:
mini = 1324324324
maxi = -213213124
for i  in dict1:
    if dict1[i]>maxi:
        maxi = dict1[i]
    if dict1[i]<mini:
        mini = dict1[i]
        
        
print(mini,maxi)

1 225

# Write a Python program to combine two dictionary adding values for common keys. Go to the editor
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
Sample output: Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

In [50]:
d1 = {'a': 100, 'b': 200, 'c':300} 
d2 = {'a': 300, 'b': 200, 'd':400}

d = {}

for i in d1:
    d[i]= d1[i]

for i in d2:
    if i in d1:
        d[i]+=d2[i]
    else:
        d[i] = d2[i]
        
print(d)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

# Write a Python program to print all unique values in a dictionary. Go to the editor
Sample Data : [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
Expected Output : Unique Values: {'S005', 'S002', 'S007', 'S001', 'S009'}

In [56]:
Data = [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]


l1 = []
for i in Data:
    for j in i:
        if i[j] not in l1:
            l1.append(i[j])
print(l1)

['S001', 'S002', 'S005', 'S009', 'S007']

# all combinations of 2 lists

In [58]:
s = ['a','b']
s2 = ['c','d']

d = []
for i in s:
    for j in s2:
        d.append(i+j)
print(d)

['ac', 'ad', 'bc', 'bd']

# highest 3 values of different keys

In [59]:
dict1 = {}


for i in range(1,16):
    dict1[i] = i**2
dict1

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225}

# count the frequency  of each charector in string

In [62]:
n = "w3schools"

d = {}
for i in range(len(n)):
    if n[i] in d:
        d[n[i]] +=1
    else:
        d[n[i]] = 1

In [63]:
d

{'w': 1, '3': 1, 's': 2, 'c': 1, 'h': 1, 'o': 2, 'l': 1}